{{! Header partial template}}
<header id="main-head">

	<nav id="main-navigation">
		{{navigation}}

		{{#get "tags" limit="all" as |tags|}}
			<ul class="tags-navigation">
			{{#foreach tags}}
				<li><a href="{{url}}">{{name}}</a></li>
			{{/foreach}}
			</ul>
		{{/get}}
	</nav>

</header>
